// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$fa-font-path: "./webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid";
.counters{
  font-size: 14px;
  text-align: center;
}

strong{
  display: block;
  font-size: 1.5em;
}
.answer,.vote{
  width: 60px;
  height: 55px;
}


.status{

  &.unanswered{
    border: none;
  }

  &.answered{
   border: 1px solid $green;
   color:$green
  }
  &.answer-accepted{
    background-color: $green;
    color:$white;
  }
}

.form-delete{
  display: inline;
}

.profile-header{
  height: 40px;
}

a{
  text-decoration: none !important;
}
.votes-controls{

  a,span{
    color: $gray-700;
  }
}

span{
  &.votes-count{
    font-size: 25px;
  }
  &.favorites-count{
    font-size: 12px;
  }
}
